:root {
	--body-family: "neue-haas-grotesk-display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--display-family: "mr-eaves-modern", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-size: calc(1rem + 0.15vw);
	--font-size-lead: calc(1.2rem + 0.1vw);
	--font-size-small: calc(0.7rem + 0.1vw);
	--font-size-h1: calc(2.4rem + 0.2vw);
	--font-size-h2: calc(1.8rem + 0.2vw);
	--font-size-h3: calc(1.5rem + 0.2vw);
	--font-size-h4: calc(1.6rem + 0.2vw);
	--font-size-h5: calc(1.2rem + 0.2vw);

	--font-weight-light: 100;
	--font-weight-normal: 300;
	--font-weight-bold: 700;
	--font-weight-heavy: 900;
	--font-weight-heavy: var(--font-weight-bold);

	--line-height: 1.5;
	--line-height-headings: 1;

	--color-black: #161615;
	--color-grey-dark: #5D5C5C;
	--color-grey-mid: #989086;
	--color-grey: #D1C4BA;
	--color-grey-light: #ECE5E4;

	--color-primary: #2A9448;
	// --color-secondary: #CDDC9A;
	// --color-tertiary: #FFBC49;
	// --color-quaternary: #E2574C;

	--color-primary-light: #CDDC9A;
	--color-primary-dark: #175D2E;
	--heading-color: var(--color-primary-dark);

	--color-text-base: var(--color-grey-dark);
	--color-text-dark: #181822;
	--color-text-reversed: #fff;
	--color-text-link: var(--color-primary);
	--color-text-hover: #003451;

	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-instagram: #262626;
	--color-youtube: #cc181e;
	--color-linkedin: #0077B5;

	--body-background-color: #fff;

	--border-radius: 16px;

	--spacing-xxl: 4em;
	--spacing-xl: 2em;
	--spacing-l: 1.5em;
	--spacing: 1em;
	--spacing-s: 0.5em;
	--spacing-xs: 0.25em;

	--container-width: 1280px;
	--container-width-l: 1600px;
	--content-width: 860px;

	@include mq(large) {
		--font-size-h1: calc(3.5rem + 0.2vw);
		--font-size-h2: calc(2.5rem + 0.2vw);
		--font-size-h3: calc(1.6rem + 0.2vw);
		--font-size-h4: calc(2rem + 0.2vw);
		--font-size-h5: calc(1.2rem + 0.2vw);
	}
}
