article > * + * {
	margin-top: 0;
}
article {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: var(--container-width);
	padding: var(--spacing-l) 1em;
	@include mq(medium) {
		flex-direction: row;
		padding: var(--spacing-xxl) 1em;
	}

	aside {
		display: none;
		background: white;
		flex: 0 0 100%;
		width: 100%;
		margin-right: 0;
		padding: 2rem 1.5rem;
		border: 1px solid var(--color-grey);
		border-radius: 5px;
		margin-bottom: var(--spacing-xl);

		@include mq(medium) {
			flex: 0 0 320px;
			margin-right: 100px;
			display: flex;
		}

		h2, h3, h4, h5 {
			color: var(--color-black);
			margin-bottom: var(--spacing-s);
		}
		hr {
			margin: var(--spacing-xl) 0;
		}
		ul {
			margin: 0;
			padding-left: 0;

			a {
				font-weight: var(--font-weight-bold);
			}
		}
		.aside-filter {
			li {
				margin-bottom: 1rem;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			&__selected {
				a {
					background: var(--color-grey-dark);
					color: white;
				}
			}
		}
	}
	main {
		flex: 1 1 auto;

		.mobile-menu {
			margin-top: 0;
			margin-bottom: 2rem;
		}
		.mobile-menu__nav {
			padding: 0;
		}
		.mobile-nav__btn {
			margin-top: 0;
			transform: translateY(0);
			background-color: var(--color-primary-light);
			color: var(--color-primary-dark);
		}
		.popover-menu {
			top: calc(100% - 5px);
			width: 100%;
			left: 0;
			background-color: var(--color-primary-light);
		}
		.popover-nav a {
			color: var(--color-primary-dark);
		}

		h2, h3{
			color: var(--color-black);
			margin-bottom: 2rem;
			// &:first-of-type {
			// 	margin-bottom: 2rem;
			// }
		}
		h4 {
			color: var(--color-black);
		}
		ul {
			list-style-type: disc;
		}
		p { 
			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: var(--spacing-l);
			}
		}
		.btn {
			margin: 1.5rem 0;
		}
	}
}