.banner {
	background-color: var(--color-grey-light);
	background-size: cover;
	background-position: center center;
	padding: var(--spacing-xl) 1em;

	@include mq(medium) {
		background-color: white;
		padding: var(--spacing-xxl) 1em;
	}
	&--dark {
		color: white;
		h1, h2, h3, h4, h5, p {
			color: white;
		}
	}
	&__inner {
		@extend .container;
		padding: 0 0;
		@include mq(medium) {
			padding: 0 1em;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		text-align: left;
		width: 100%;
		margin: 0 auto;
		@include mq(medium) {
			width: 50%;
			text-align: center;
		}
		&--icon {
			max-width: 180px;
			margin: 0 auto 2rem auto;
		}
	}
	.stats {
		padding-top: 0;
		margin-top: var(--spacing-xl);
		@include mq(medium) {
			padding-top: var(--spacing-xl);
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			justify-content: center;
		}

		&-item {
			&__number {
				border: 3px solid var(--color-grey-mid);
				color:  white;
			}
			&__text {
				p {
					color: white;
				}
			}
		}
	}
}