.stats {
	display: flex;
	align-items: center;
	@include mq($until: medium) {
		flex-wrap: wrap;
	}
	&-item {
		display: flex;
		font-style: italic;
		font-family: var(--display-family);
		padding-right: 2rem;
		@include mq($until: medium) {
			width: 50%;
			margin-bottom: 1rem;
		}
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
		&__number {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 74px;
			height: 74px;
			border: 3px solid var(--color-grey-mid);
			border-radius: 74px;
			font-size: 40px;
			font-weight: var(--font-weight-bold);
			margin-right: 0.5rem;
			color:  var(--color-black);
		}
		&__text {
			display: flex;
			align-items: center;
			width: min-content;
			p {
				margin: 0;
				margin-bottom: 0 !important;
				line-height: 1rem;
				color: var(--color-primary-dark);
			}
		}
	}
}