.three-blocks {
	display: flex;
	// flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-grey-light);
	border-top: 1px solid var(--color-grey-light);
	margin-bottom: var(--spacing-xl);
	flex-wrap: wrap;
	@include mq(medium) {
		margin-bottom: var(--spacing-xxl);
	}
	@include mq(large) {
		flex-direction: row;
	}
	&-item {
		// width: 100%;
		min-height: 420px;
		padding: var(--spacing-xl);
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		background-size: cover;
		background-position: center center;
		@include mq(medium) {
			align-items: center;
			text-align: center;
		}
		@include mq(large) {
			width: calc(100% / 3);
			padding: var(--spacing-xxl);
		}
		&:first-child {
			order: 1;
			width: 100%;
			@include mq(medium) {
				width: 50%;
			}
			@include mq(large) {
				width: calc(100% / 3);
				order: 1;
			}
		}
		&:nth-child(2) {
			order: 3;
			width: 100%;
			@include mq(large) {
				width: calc(100% / 3);
				order: 3;
			}
		}
		&:last-child {
			order: 3;
			width: 100%;
			@include mq(medium) {
				order: 1;
				width: 50%;
			}
			@include mq(large) {
				width: calc(100% / 3);
				order: 3;
			}
		}
		h2, h3, h4, h5 {
			margin-bottom: 2rem;
		}
		.heading-1,
		.heading-2 {
			margin: 2rem 0;
		}
		&__logo {
			width: 245px;
		}
	}
	&__services {
		display: flex;
		flex-wrap: wrap;
		&-item {
			display: flex;
			align-items: center;
			width: 100%;
			flex-direction: row; 
			text-align: center;
			margin-bottom: 0;
			padding: 0.5rem;
			@include mq(medium) {
				width: 50%;
				flex-direction: column;
				margin-bottom: 2rem;
			}
			&:last-child {
				margin-bottom: 2rem;
			}

			&--image {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				width: 100px;
				margin-right: 1rem;
				@include mq(medium) {
					margin-right: 0;
				}
			}

			span {
				background-color: var(--color-grey-light);
				margin-top: 0;
				padding: 0.2rem 0.75rem;
				border-radius: 30px;
				@include mq(medium) {
					margin-top: 1rem;
				}
				p {
					margin: 0;
					font-weight: var(--font-weight-bold);
					color: var(--color-black);
					@include mq(medium) {
						font-size: var(--font-size-small);
					}
				}
			}
		}
	}
	&__brands {
		display: flex;
		flex-wrap: wrap;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 50%;
			text-align: center;
			margin-bottom: 2rem;
			padding: 0.5rem;
			
			&--image {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				width: 100px;
			}
		}
	}
}